@model List<webapp04.Models.Student>

    <br/>

@{
    ViewData["Title"] = "Home Page";
    int i = 1;
}

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SL</th>
                <th>Photograph</th>
                <th>Student Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i.</td>
                    <td>
                        <img src="~/StudentPhoto/@item.PhotoPath" style="width:70px" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
